SERVER_PORT=8080
SWAGGER_HOST=localhost:8080
GIN_MODE=release

API_TITLE=OSINT Scraper API
API_DESCRIPTION=High-performance OSINT scraping microservice.

# Optional
# APP_VERSION=1.0.0
# HEADERS_CONFIG_PATH=./config/headers.json
# ADMIN_API_KEY=your-secret-key-here

# Cache Configuration (type: memory or redis)
# CACHE_TYPE=memory
# REDIS_ADDR=localhost:6379
# REDIS_PASSWORD=
# REDIS_DB=0
